# Dependencies
node_modules/
vendor/

# Environment
.env

# Build
dist/
build/
.next/
out/
staticfiles/
media/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
